    <!-- Contact Section -->
    <section id="docs" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Documents</h2>
                <p>
					A list of useful downloadable documents in PDF format.
				</p>
                <p>
					Anatomy Donation Form - for use with Australian Medical Schools. If, in addition to preserving your neural tissue with NAF, you also wish to donate your body to a medical school for the teaching of anatomy to medical students, then you will need to fill out this form and return it to us and we will liaise with the appropriate medical school to ensure that all your wishes are carried out.
				</p>
					<a href= "{{ site.baseurl }}/GenericAnatomyDonorConsentForm.pdf">Generic Anatomy Donor Consent Form</a>
				</p>
            </div>
        </div>
    </section>
