    <!-- Donate Section -->
    <section id="donate" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>donate to naf</h2>
                <p>
				The NAF accepts donations to cover the costs of neural tissue storage as well as for research purposes. Research is conducted into areas that help NAF improve it's procedures for preserving the information in neural tissue. As well as low temperature (cryogenic) storage, NAF will be investigating the viability of less expensive storage options such as chemical fixation and plastination.
				</p>
                <p>
				The NAF will also be conducting research or supporting research projects which explore ways of preventing or slowing down degenerative or damaging brain and neural diseases.
				</p>
                <p>
				Research proceeds when sufficient funds have accumulated for specific projects.
				</p>
                <p>
                Please contact us if you wish to make an electronic donation either via Bitcoin or some other cryptocurrency or via EFT if you are in Australia. Currently we can accept these coins:
				</p>
                <p>
				Bitcoin (BTC)<br>
				Bitcoin Cash (BCH)<br>
				Bitcoin Gold (BTG)<br>
				Dash (DASH)<br>
				Digibyte (DGB)<br>
				Litecoin (LTC)<br>
				Namecoin (NMC)<br>
				Vertcoin (VTC)<br>
				Zcash (ZEC)<br>
				Ethereum (ETH)<br>
				Ethereum Classic (ETC)<br>
				NEM (XEM)<br>
				Stellar (XLM)<br>
				Cardano (ADA)<br>
				Tezos (XTZ)<br>
				</p>
                <p>
				If preferred, cheques can be made out to:
				</p>
                <p>
				Neural Archives Foundation Ltd (ABN: 67 465 438 378)<br>
				PO BOX 896<br>
				Cowra<br>
				NSW 2794
				</p>
            </div>
        </div>
    </section>
