    <!-- FAQ Section -->
    <section id="faq" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>
				frequently asked questions
				</h2>
                <h3>
					who is eligible?
				</h3>
                <p>
				Anyone is eligible. There is no such thing as a mundane mind. In order for the tissue to be collected however there are various requirements that must be met under Australian and State law as there are for all tissue donation.
				</p>
                <h3>
					How much does it cost?
				</h3>
                <p>
				The cryogenic storage costs vary according to country and region, however NAF sets the cost according to best practice, quality and security costs in Australia. We ask for a one-off cash donation at time of death. The minimum donation required to cover the storage costs is presently AUS$30,000 which is enough to store the tissue indefinitely. There are some additional professional costs (ranging between AUS$7-9,000) for associated services related to the actual neural tissue extraction and processing. These are not a donation and we invoice the estate or the nominating party for these amounts.
				</p>
                <h3>
					Where are the neural tissues stored?
				</h3>
                <p>
				The tissues are stored with high-quality, medical grade, cryogenic storage organisations in Australia. For security and privacy reasons we do not identify which tissues are stored with which organisations but reports from the Independent Organisation that audits us are available on request. To be clear, we can not release the name of any of our service providers without the expressed permission of that service provider. This specifically includes, pathologists, cryogenic couriers, consultants, storage facility providers, advisors, mortuary attendants, care facilities. Furthermore, we never seek such permission unless specifically requested by the service provider themselves in the performance of their function. For example, a cryogenic courier must know the name of the storage facility the tissue is to be sent to. We can not unilaterally release the name of service providers we use lest there be adverse primary or even secondary publicity to those service providers and which may therefrom adversely affect our use of that storage provider in future and jeopardize tissues already stored there. If there is a question of integrity then NAF is happy to submit to an independent audit so long as the auditor is bound to the same confidentiality as above. They could then report that what we have said is true or false but not the specifics of the service providers employed.
				</p>
                <h3>
					What happens to the rest of the body if this procedure is performed?
				</h3>
                <p>
				It is up to the estate and next of kin to decide how the rest of the body is treated and there is no difference between this and other organ donations. The body may be released to the next of kin for normal funerary arrangements if that was requested. Some cultures favour a viewing of the deceased and this is not prevented by the procedure.
				</p>
                <h3>
					What if the coroner wishes to perform an autopsy?
				</h3>
                <p>
				The coroner may order an autopsy if they feel it is in the public interest to do so. A family may request that an autopsy not be performed and the coroner will consider the request. However, the ultimate decision rests with the coroner. If the body is autopsied it is normal that the brain is removed and sectioned which takes time, all of which is not ideal for archiving. There is also often some tissue removed. NAF can still archive in those circumstances but the veracity of information will have been compromised.
				</p>
                <h3>
					Will you experiment on my brain?
				</h3>
                <p>
				No. We may, however, perform non-destructive imaging of any brain in storage with us.
				</p>
                <h3>
					Will you sell my brain for other people to experiment on?
				</h3>
                <p>
				No. Our charter is purely for preservation. Also Australian law prohibits trading in human tissue.
				</p>
                <h3>
					Do you accept other donations and are they tax deductible?
				</h3>
                <p>
					Yes. NAF will accept donations into the NAF Research Account that pays research organisations (universities etc) to do work on areas of immediate interest to NAF. Currently donations to NAF are not tax deductible.
				</p>
            </div>
        </div>
    </section>
