    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
					    <img src="{{ site.baseurl }}/img/logo_naf.png" alt="NAF Logo"/>
                        <h1 class="brand-heading">Neural Archives Foundation</h1>
						<p class="intro-text">
						    Archiving: Personalities, Memories and Experience
						</p>
                        <a href="#home" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
