    <!-- About Section -->
    <section id="home" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>NAF</h2>
                <p>
                    The Neural Archives Foundation (NAF) is an Australian non-profit organisation which preserves neural (brain) tissue as an historical archive and supports research into brain and neural disease states.
                </p>
                <p>
<a href="https://www.acnc.gov.au/charity/3d94622cc96ead8c4b3c25e80aa995e2">
The NAF is a registered charity with the Australian Charities and Not-for-profits Commission (ACNC)
and is endorsed as a Deductible Gift Recipient (DGR) with the Australian Tax Office (ATO) from 23 February 2018.
</a>
                </p>
                <p>
                    The donor tissue is stored in cryogenic tissue banking facilities at liquid nitrogen temperatures with the goal being to preserve as much as possible the information content of the brain that includes identity and memory which is encoded by the vast interconnected network of cellular processes that comprise the human cerebral cortex.
                </p>
                <p>
                    The technology to read and decode this information is currently only in its infancy, however, at some point in the future, whole brain simulations will be able to model the connections of the stored tissue allowing the information to be accessed. This will then become a slice of human history as seen through the eyes of an individual alive now.
                </p>                    
                <p>
                    In the regard of storing brain tissue we are similar to the Australian Brain Bank, however, whereas the ABB stores brain tissue for the purpose of medical research and to understand and develop treatments for disease, NAF store the tissue purely as a repository of the information that is contained therein. If you would like to learn more about the valuable work of the ABB or how to be involved in their program, please click here.
                </p>
                <p>
                    NAF encourage people interested in neural archiving to consider donating other organs which are always in short supply.
                </p>
                <P>
                    To improve the veracity of our storage we also monitor and support research in the following areas:
                </P>
                <p>
                    <ul>
                        <li>
                            Identification of the mechanisms and structures used for information storage in neural tissue
                        </li>
                        <li>
                            Long-term archival methods for neural tissue                            
                        </li>
                        <li>
                            Non-destructive extraction of preserved information from archived neural tissue                            
                        </li>
                    </ul>
                </p>
                <p>
                    The principal objectives of the organisation are:                    
                </p>
                <p>
                    <ul>
                        <li>
                            To provide long term preservation of information encoded within neural tissue with the hope that it may be a valuable historical resource for future historians, and that it may enable the development, in the future, of high fidelity models of our times.                            
                        </li>
                        <li>
                            To provide information about preservation of neural based information for the public benefit.                            
                        </li>
                        <li>
                            To advance and encourage the preservation of neural based information and to establish and define best practices in the field.
                        </li>
                        <li>
                            To encourage discussion of the ethical issues associated with neural archiving
                        </li>
                        <li>
                            To provide a vehicle for the potential future restoration of substrate neutral consciousness to an individual or collective set of memories, should that capability ever come into existence.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
