    <!-- Contact Section -->
    <section id="research" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Research</h2>
                <p>
					NAF will be funding research with various universities related to the mechanisms involved with storage of memories and related spheres of interest, in various animal models as well as humans.
				</p>
            </div>
        </div>
    </section>
